@charset "UTF-8";
/* Сonnecting fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
             -o-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Base Styles */
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
    background: #ffffff;
    color: #383838;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: min(100%, 1920px);
}

@media only screen and (min-width: 1280px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }
}

/* Typography styles" */
.title {
    font-size: 32px;
    line-height: 39px;
}

.title_clr-white {
    color: #ffffff;
}

.text {
    font-size: 14px;
    line-height: 22px;
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 18px;
        line-height: 24px;
    }
}

.text_clr-white {
    color: #ffffff;
}

/* UI elements "Navs & Tabs" */
.primary-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 32px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width: 1280px) {
    .primary-menu__button {
        display: none;
    }
}

.primary-menu__button span {
    height: 3px;
    border-radius: 1000px;
    background-color: #383838;
}

.primary-menu__button span:nth-child(1) {
    width: 24px;
}

.primary-menu__button span:nth-child(2) {
    width: 32px;
}

.primary-menu__button span:nth-child(3) {
    width: 18px;
}

.primary-menu__list {
    display: none;
}

@media only screen and (min-width: 1280px) {
    .primary-menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style-type: none;
    }

    .primary-menu__list>*+* {
        margin: 0 0 0 22px;
    }
}

.primary-menu__list-item {
    padding: 4px 0 4px 0;
}

.primary-menu__list-link {
    color: #171717;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.secondary-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .secondary-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: -50px 0 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .secondary-menu {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 0 0 0;
    }
}

.secondary-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 0 0;
}

.secondary-menu__item>*+* {
    padding: 0 0 0 32px;
}

@media only screen and (min-width: 1280px) {
    .secondary-menu__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        padding: 0 0 0 0;
    }
}

.secondary-menu__item-title {
    font-size: 18px;
    line-height: 22px;
}

.secondary-menu__list {
    list-style-type: none;
}

.secondary-menu__list-item {
    margin: 10px 0 0 0;
}

.secondary-menu__list-link {
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    -webkit-transition: opacity 0.25s ease 0s;
    -o-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.secondary-menu__list-link:hover,
.secondary-menu__list-link:focus-within {
    opacity: 1;
}

/* UI elements "Covers" */
/* UI elements "Cards" */
/* UI elements "Links" */
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo__link {
    text-decoration: none;
}

.logo__img {
    width: 100%;
}

.color-palette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #787d46;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.color-palette__icon {
    width: 24px;
    height: 24px;
}

.color-palette__label {
    display: none;
}

@media only screen and (min-width: 1600px) {
    .color-palette__label {
        display: block;
        margin: 0 0 0 12px;
        color: inherit;
    }
}

.contact-email,
.contact-phone {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.account-link,
.shopping-cart-link {
    text-decoration: none;
}

.account-link svg,
.shopping-cart-link svg {
    width: 24px;
    height: 24px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-list>*+* {
    margin: 0 0 0 16px;
}

.social-list__link {
    width: 24px;
    height: 24px;
}

/* UI elements "Forms" */
/* UI elements "Buttons" */
.button {
    display: block;
    border: none;
    border-radius: 999px;
    padding: 1.25em 2em 1.25em 2em;
    background-color: #787d46;
    cursor: pointer;
    /* typography*/
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media only screen and (min-width: 768px) {
    .button {
        font-size: 16px;
        line-height: 20px;
    }
}

.button_fw-700 {
    font-weight: 700;
}

/* UI elements "Dropduwn" */
/* UI elements "Carusels" */
/* Block "Header" */
.header__inner {
    padding: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(56, 56, 56, 0.3);
}

.header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 130px;
    height: 39px;
    margin: 0 auto 0 0;
}

@media only screen and (min-width: 768px) {
    .header__logo {
        width: 196px;
        height: 58px;
        margin: 0 0 0 0;
    }
}

.header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0 0 0 18px;
}

@media only screen and (min-width: 768px) {
    .header__menu {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        padding: 0 30px 0 26px;
    }
}

@media only screen and (min-width: 1600px) {
    .header__menu {
        padding: 0 32px 0 32px;
    }
}

.header__color-palette {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: none;
}

@media only screen and (min-width: 768px) {
    .header__color-palette {
        display: block;
    }
}

.header__contact {
    display: none;
    margin: 0 0 0 24px;
}

@media only screen and (min-width: 768px) {
    .header__contact {
        display: block;
    }
}

@media only screen and (min-width: 1600px) {
    .header__contact {
        margin: 0 0 0 32px;
    }
}

.header__account-and-shopping-cart {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 18px;
}

.header__account-and-shopping-cart>*+* {
    margin: 0 0 0 18px;
}

@media only screen and (min-width: 1600px) {
    .header__account-and-shopping-cart {
        margin: 0 0 0 50px;
    }
}

/* Block "hero" */
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 406px;
    margin: 0 0 35px 0;
    background-image: url("../images/bg/bg-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .hero {
        height: 800px;
        margin: 0 0 60px 0;
    }
}

.hero__inner {
    max-width: 814px;
}

.hero__title {
    color: #ffffff;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hero__title {
        font-size: 68px;
        line-height: 83px;
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .hero__title {
        font-size: 100px;
        line-height: 98px;
    }
}

.hero__descr {
    margin: 24px 0 0 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hero__descr {
        margin: 32px 0 0 0;
        text-align: left;
    }
}

.hero__button {
    width: 100%;
    max-width: 391px;
    margin: 24px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .hero__button {
        margin: 32px 0 0 0;
    }
}

/* Block "decription" */
.decription {
    min-height: 296px;
    padding: 35px 0 35px 0;
    background-image: url("../images/bg/bg-decor-waves.svg");
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 297px;
}

@media only screen and (min-width: 768px) {
    .decription {
        padding: 60px 0 60px 0;
    }
}

.decription__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.decription__text {
    max-width: 1400px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .decription__text {
        font-size: 32px;
        line-height: 46px;
    }
}

.decription__button {
    width: 100%;
    max-width: 313px;
    margin: 30px auto 0 auto;
}

/* Block "panels" */
.panels {
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

.panels__image {
    width: 100%;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.panels__inner {
    padding: 70px 0 70px 0;
}

.panels__title {
    text-align: center;
}

.panels__descr {
    padding: 28px 0 0 0;
    text-align: center;
}

.panels__button {
    width: 100%;
    max-width: 234px;
    margin: 28px auto 0 auto;
}

.panels__type {
    margin: 0 auto 0 auto;
    padding: 50px 0 0 0;
}

.panels__type-color-and-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.panels__type-color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
}

.panels__type-number {
    margin: 0 0 0 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.panels__type-name {
    padding: 6px 0 0 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.panels__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 0 auto;
    padding: 24px 0 0 0;
}

.panels__slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.panels__slider-button>svg {
    width: 25px;
    height: 25px;
}

.panels__slider-button_prev {
    border-left: 1px solid #383838;
}

.panels__slider-button_next {
    border-right: 1px solid #383838;
}

.panels__slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.panels__slider-items {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0 8px 0 8px;
    background-color: #ffffff;
}

/* Block "hero" */
/* Block "Footer" */
.footer {
    padding: 60px 0 50px 0;
}

.footer__inner {
    padding: 40px 0 0 0;
    border-top: 1px solid rgba(56, 56, 56, 0.3);
}

.footer__logo {
    width: 130px;
    height: 38px;
    margin: 0 auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .footer__logo {
        width: 196px;
        height: 58px;
    }
}

.footer__menu {
    margin: 50px 0 0 0;
}

@media only screen and (min-width: 1280px) {
    .footer__menu {
        margin: 60px 0 0 0;
    }
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__bottom {
        margin: 40px 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__bottom {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.footer__copyrigth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.footer__copyrigth-text {
    font-size: 16px;
    line-height: 20px;
}

.footer__copyrigth-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 18px 0 0 0;
}

.footer__copyrigth-links>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth-links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0 0 0 30px;
    }

    .footer__copyrigth-links>*+* {
        margin: 0 0 0 22px;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__copyrigth-links {
        padding: 0 30px 0 30px;
    }
}

.footer__copyrigth-link {
    color: inherit;
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.footer__contact-and-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contact-and-social {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__contact-and-social {
        padding: 0 0 0 0;
    }
}

.footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__contact>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer__contact>*+* {
        margin: 0 0 0 22px;
    }
}

.footer__social {
    padding: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__social {
        padding: 0 0 0 40px;
    }
}