@charset "UTF-8";
/* Сonnecting fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
             -o-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Base Styles */
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
    background: #ffffff;
    color: #383838;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: min(100%, 1920px);
}

@media only screen and (min-width: 1280px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }
}

/* Typography styles" */
.title {
    font-size: 32px;
    line-height: 39px;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 52px;
        line-height: 63px;
    }
}

@media only screen and (min-width: 1280px) {
    .title {
        font-size: 62px;
        line-height: 76px;
    }
}

.title_clr-white {
    color: #ffffff;
}

.text {
    font-size: 14px;
    line-height: 22px;
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 18px;
        line-height: 24px;
    }
}

.text_clr-white {
    color: #ffffff;
}

/* UI elements "Navs & Tabs" */
.primary-menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 32px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width: 1280px) {
    .primary-menu__button {
        display: none;
    }
}

.primary-menu__button span {
    height: 3px;
    border-radius: 1000px;
    background-color: #383838;
}

.primary-menu__button span:nth-child(1) {
    width: 24px;
}

.primary-menu__button span:nth-child(2) {
    width: 32px;
}

.primary-menu__button span:nth-child(3) {
    width: 18px;
}

.primary-menu__list {
    display: none;
}

@media only screen and (min-width: 1280px) {
    .primary-menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        list-style-type: none;
    }

    .primary-menu__list>*+* {
        margin: 0 0 0 22px;
    }
}

.primary-menu__list-item {
    padding: 4px 0 4px 0;
}

.primary-menu__list-link {
    color: #171717;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.secondary-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .secondary-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: -50px 0 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .secondary-menu {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 0 0 0;
    }
}

.secondary-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 0 0;
}

.secondary-menu__item>*+* {
    padding: 0 0 0 32px;
}

@media only screen and (min-width: 1280px) {
    .secondary-menu__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        padding: 0 0 0 0;
    }
}

.secondary-menu__item-title {
    font-size: 18px;
    line-height: 22px;
}

.secondary-menu__list {
    list-style-type: none;
}

.secondary-menu__list-item {
    margin: 10px 0 0 0;
}

.secondary-menu__list-link {
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    -webkit-transition: opacity 0.25s ease 0s;
    -o-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.secondary-menu__list-link:hover,
.secondary-menu__list-link:focus-within {
    opacity: 1;
}

/* UI elements "Covers" */
/* UI elements "Cards" */
.produc-tab-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 14px 16px 14px;
    border-radius: 4px;
    background: #ffffff;
}

.produc-tab-card__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

@media only screen and (min-width: 768px) {
    .produc-tab-card__img {
        width: 64px;
        height: 64px;
    }
}

.produc-tab-card__data {
    margin: 0 auto 0 12px;
}

@media only screen and (min-width: 768px) {
    .produc-tab-card__data {
        margin: 0 auto 0 24px;
    }
}

.produc-tab-card__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #787d46;
}

@media only screen and (min-width: 768px) {
    .produc-tab-card__name {
        font-size: 16px;
        line-height: 20px;
    }
}

.produc-tab-card__price {
    margin: 8px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #383838;
    opacity: 0.5;
}

.produc-tab-card__add-to-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    margin: 0 0 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #787d46;
    -webkit-transition: background-color 0.25s ease 0s;
    -o-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .produc-tab-card__add-to-cart {
        width: 64px;
        height: 64px;
    }
}

.produc-tab-card__add-to-cart:hover {
    background-color: #676d23;
}

.produc-tab-card__add-to-cart>svg {
    width: 12px;
    height: 12px;
}

@media only screen and (min-width: 768px) {
    .produc-tab-card__add-to-cart>svg {
        width: 24px;
        height: 24px;
    }
}

.produc-tab-card__add-to-cart>svg path {
    fill: #ffffff;
}

.examples-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.examples-card__img-wrapper {
    position: relative;
    width: 100%;
    height: 239px;
    border-radius: 4px;
    overflow: hidden;
}

.examples-card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.examples-card__body {
    padding: 16px 0 0 0;
}

.examples-card__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 768px) {
    .examples-card__name {
        font-size: 24px;
        line-height: 29px;
    }
}

.examples-card__descr {
    margin: 16px 0 0 0;
}

.examples-card__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 16px 0 0 0;
    text-decoration: none;
}

.examples-card__more-label {
    font-size: 14px;
    line-height: 17px;
    color: #787d46;
}

@media only screen and (min-width: 768px) {
    .examples-card__more-label {
        font-size: 18px;
        line-height: 22px;
    }
}

.examples-card__more-icon {
    width: 24px;
    height: 24px;
    margin: 0 0 0 10px;
}

.examples-card__more-icon>path {
    stroke: #787d46;
}

/* UI elements "Links" */
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo__link {
    text-decoration: none;
}

.logo__img {
    width: 100%;
}

.color-palette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #787d46;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.color-palette__icon {
    width: 24px;
    height: 24px;
}

.color-palette__label {
    display: none;
}

@media only screen and (min-width: 1600px) {
    .color-palette__label {
        display: block;
        margin: 0 0 0 12px;
        color: inherit;
    }
}

.contact-email,
.contact-phone {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.account-link,
.shopping-cart-link {
    text-decoration: none;
}

.account-link svg,
.shopping-cart-link svg {
    width: 24px;
    height: 24px;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-list>*+* {
    margin: 0 0 0 16px;
}

.social-list__link {
    width: 24px;
    height: 24px;
}

/* UI elements "Forms" */
/* UI elements "Buttons" */
.button {
    position: relative;
    display: block;
    border: none;
    border-radius: 999px;
    padding: 1.25em 2em 1.25em 2em;
    background-color: #787d46;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/bg-button.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 90%;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.button span {
    position: relative;
}

.button:hover {
    background-color: #676d23;
}

.button:hover::before {
    right: 0;
}

@media only screen and (min-width: 768px) {
    .button {
        font-size: 16px;
        line-height: 20px;
    }
}

.button_fw-700 {
    font-weight: 700;
}

.button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 999px;
    overflow: hidden;
}

.button-group__prev,
.button-group__next {
    width: 44px;
    height: 44px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.button-group__prev>svg,
.button-group__next>svg {
    width: 26px;
    height: 26px;
}

@media only screen and (min-width: 768px) {

    .button-group__prev,
    .button-group__next {
        width: 64px;
        height: 46px;
    }

    .button-group__prev>svg,
    .button-group__next>svg {
        width: 36px;
        height: 36px;
    }
}

/* UI elements "Dropduwn" */
.spoiler__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.spoiler__title {
    max-width: 200px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.spoiler__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.spoiler__button>svg {
    width: 32px;
    height: 32px;
}

.spoiler__divider {
    margin: 20px 0 0 0;
}

.spoiler__body {
    padding: 20px 0 0 0;
    overflow: hidden;
}

.spoiler[data-spoiler=open] .spoiler__title {
    color: #787d46;
}

.spoiler[data-spoiler=open] .spoiler__button {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.spoiler[data-spoiler=open] .spoiler__button>svg>path {
    stroke: #787d46;
}

.spoiler[data-spoiler=open] .spoiler__body {
    height: auto;
}

.spoiler[data-spoiler=close] .spoiler__body {
    height: 0px;
    padding: 0px;
}

/* UI elements "Carusels" */
/* Block "Header" */
.header__inner {
    max-width: 1600px;
    margin: 0 auto 0 auto;
    padding: 20px 0 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(56, 56, 56, 0.3);
}

.header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 130px;
    height: 39px;
    margin: 0 auto 0 0;
}

@media only screen and (min-width: 768px) {
    .header__logo {
        width: 196px;
        height: 58px;
        margin: 0 0 0 0;
    }
}

.header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0 0 0 18px;
}

@media only screen and (min-width: 768px) {
    .header__menu {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        padding: 0 30px 0 26px;
    }
}

@media only screen and (min-width: 1600px) {
    .header__menu {
        padding: 0 32px 0 32px;
    }
}

.header__color-palette {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: none;
}

@media only screen and (min-width: 768px) {
    .header__color-palette {
        display: block;
    }
}

.header__contact {
    display: none;
    margin: 0 0 0 24px;
}

@media only screen and (min-width: 768px) {
    .header__contact {
        display: block;
    }
}

@media only screen and (min-width: 1600px) {
    .header__contact {
        margin: 0 0 0 32px;
    }
}

.header__account-and-shopping-cart {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 18px;
}

.header__account-and-shopping-cart>*+* {
    margin: 0 0 0 18px;
}

@media only screen and (min-width: 1600px) {
    .header__account-and-shopping-cart {
        margin: 0 0 0 50px;
    }
}

/* Block "hero" */
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 406px;
    margin: 0 0 35px 0;
    background-image: url("../images/bg/bg-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .hero {
        height: 800px;
        margin: 0 0 60px 0;
    }
}

.hero__inner {
    max-width: 814px;
}

.hero__title {
    color: #ffffff;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hero__title {
        font-size: 68px;
        line-height: 83px;
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .hero__title {
        font-size: 100px;
        line-height: 98px;
    }
}

.hero__descr {
    margin: 24px 0 0 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .hero__descr {
        margin: 32px 0 0 0;
        text-align: left;
    }
}

.hero__button {
    width: 100%;
    max-width: 391px;
    margin: 24px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .hero__button {
        margin: 32px 0 0 0;
    }
}

/* Block "decription" */
.decription {
    min-height: 296px;
    padding: 35px 0 35px 0;
    background-image: url("../images/bg/bg-decor-waves.svg");
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 297px;
}

@media only screen and (min-width: 768px) {
    .decription {
        padding: 60px 0 60px 0;
    }
}

.decription__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.decription__text {
    max-width: 1400px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .decription__text {
        font-size: 32px;
        line-height: 46px;
    }
}

.decription__button {
    width: 100%;
    max-width: 313px;
    margin: 30px auto 0 auto;
}

/* Block "panels" */
.panels {
    margin: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .panels {
        margin: 60px 0 60px 0;
    }
}

.panels__image {
    width: 100%;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

@media only screen and (min-width: 768px) {
    .panels__image {
        height: 560px;
    }
}

.panels__inner {
    padding: 70px 0 70px 0;
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

@media only screen and (min-width: 768px) {
    .panels__inner {
        padding: 50px 0 50px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .panels__inner {
        padding: 286px 0 62px 0;
        min-height: 910px;
    }

    .panels__inner .container {
        padding-right: 67px;
    }
}

.panels__title {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .panels__title {
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .panels__title {
        max-width: 750px;
    }
}

.panels__descr {
    padding: 28px 0 0 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .panels__descr {
        text-align: left;
    }
}

.panels__button {
    width: 100%;
    max-width: 234px;
    margin: 28px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .panels__button {
        margin: 28px 0 0 0;
    }
}

.panels__footer {
    padding: 50px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .panels__footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.panels__type {
    margin: 0px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .panels__type {
        margin: 0 0 0 0;
    }
}

.panels__type-color-and-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.panels__type-color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
}

.panels__type-number {
    margin: 0 0 0 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.panels__type-name {
    padding: 6px 0 0 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.panels__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 24px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .panels__slider {
        margin: 0 0 0 0;
    }
}

.panels__slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: transparent;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
}

.panels__slider-button>svg {
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.panels__slider-button_prev {
    border-left: 1px solid #383838;
    border-bottom: 1px solid #383838;
}

.panels__slider-button_next {
    border-top: 1px solid #383838;
    border-right: 1px solid #383838;
}

.panels__slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.panels__slider-items {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0 8px 0 8px;
    background-color: #ffffff;
}

/* Block "benefits" */
.benefits {
    padding: 35px 0 35px 0;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .benefits {
        padding: 60px 0 60px 0;
    }
}

.benefits__title {
    position: relative;
    text-align: center;
}

.benefits__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 356px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("../../images/bg/bg-benefits.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .benefits__title::before {
        height: 420px;
        width: 925px;
        -webkit-transform: translate(-50%, 20%);
            -ms-transform: translate(-50%, 20%);
                transform: translate(-50%, 20%);
    }
}

.benefits__body {
    margin: 40px 0 0 0;
    display: -ms-grid;
    display: grid;
    row-gap: 32px;
}

@media only screen and (min-width: 768px) {
    .benefits__body {
        -ms-grid-columns: 1fr 30px 1fr;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
    }
}

/* Block "benefits" */
.product {
    position: relative;
    margin: 35px 0 0 0;
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .product {
        margin: 60px 0 60px 0;
        padding: 0 0 32px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .product {
        margin: 60px 0 60px 0;
        padding: 0 0 50px 0;
    }
}

.product__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 390px;
}

@media only screen and (min-width: 768px) {
    .product__inner {
        height: 600px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    .product__content {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        margin: 0 15px 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .product__content {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 448px;
                flex: 0 0 448px;
    }
}

.product__tab-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .product__tab-img {
        height: 100%;
    }
}

.product__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px 0 0 0;
    padding: 16px 16px 16px 16px;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .product__slider {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        margin: 0 0 0 15px;
        padding: 16px 16px 17px 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .product__slider {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
        padding: 18px 16px 18px 16px;
    }
}

.product__slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ebebeb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .product__slider-button {
        width: 64px;
        height: 64px;
    }
}

.product__slider-button>svg {
    width: 12px;
    height: 12px;
}

@media only screen and (min-width: 768px) {
    .product__slider-button>svg {
        width: 24px;
        height: 24px;
    }
}

.product__slider-wrapper {
    padding: 0 8px 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product__slider-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ebebeb;
    margin: 0 8px 0 8px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .product__slider-item {
        width: 64px;
        height: 64px;
    }
}

.product__slider-item-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

/* Block "application" */
.application {
    padding: 35px 0 35px 0;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .application {
        padding: 60px 0 60px 0;
    }
}

@media only screen and (min-width: 768px) {
    .application__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.application__title {
    position: relative;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .application__title {
        width: 358px;
        padding: 90px 0 0 0;
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .application__title {
        width: 427px;
        padding: 187px 0 0 0;
    }
}

.application__title::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 204px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-55%, -50%);
        -ms-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
    background-image: url("../../images/bg/bg-application.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .application__title::before {
        height: 420px;
        width: 529px;
    }
}

@media only screen and (min-width: 1280px) {
    .application__title::before {
        height: 420px;
        width: 854px;
    }
}

.application__slider {
    margin: 36px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .application__slider {
        margin: 0 0 0 22px;
    }
}

@media only screen and (min-width: 1280px) {
    .application__slider {
        margin: 0 0 0 53px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
}

.application__slider-item {
    position: relative;
    width: 100%;
    height: 284px;
    border-radius: 4px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .application__slider-item {
        height: 356px;
        width: 229px;
    }
}

@media only screen and (min-width: 1280px) {
    .application__slider-item {
        width: 352px;
        height: 546px;
    }
}

.application__slider-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.application__slider-buttons-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 999px;
}

@media only screen and (min-width: 768px) {
    .application__slider-buttons-group {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.application__slider-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
}

.application__slider-button>svg {
    width: 24px;
    height: 24px;
}

.application__slider-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .application__slider-footer {
        margin: 37px 0 0 0;
    }
}

.application__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 0 0 30px;
}

@media only screen and (min-width: 768px) {
    .application__button {
        margin: 0 0 0 0;
        width: 229px;
    }
}

@media only screen and (min-width: 1280px) {
    .application__button {
        margin: 0 0 0 32px;
        width: 256px;
    }
}

/* Block "difference" */
.difference {
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .difference {
        padding: 60px 0 60px 0;
    }
}

.difference__title {
    text-align: center;
}

.difference__body {
    margin: 36px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .difference__player {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 50px 0 0 0;
    }
}

.difference__button-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 64px;
    height: 64px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    border: 1px solid #787d46;
    background-color: transparent;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .difference__button-play {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        margin: 0 0 0 0;
    }
}

.difference__button-play>svg {
    width: 36px;
    height: 36px;
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

.difference__waves {
    width: 100%;
    height: 104px;
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .difference__waves {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 557px;
                flex: 0 1 557px;
        margin: 0 0 0 32px;
    }
}

.difference__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 28px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .difference__switch {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 50px 0 0 0;
    }
}

.difference__switch-label {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .difference__switch-label {
        font-size: 18px;
        line-height: 22px;
    }
}

.difference__switch-label.--active {
    color: #787d46;
}

.difference__toggler {
    position: relative;
    width: 62px;
    height: 34px;
    margin: 12px 0 12px 0;
    border-radius: 999px;
    background-color: #383838;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .difference__toggler {
        width: 82px;
        height: 44px;
        margin: 0 24px 0 24px;
    }
}

.difference__toggler>input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.difference__toggler::before {
    content: "";
    position: absolute;
    top: calc(0% + 6px);
    left: calc(0% + 6px);
    background-color: #ffffff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}

@media only screen and (min-width: 768px) {
    .difference__toggler::before {
        width: 32px;
        height: 32px;
    }
}

/* Block "bunner" */
.bunner {
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .bunner {
        position: relative;
        height: 690px;
    }
}

.bunner__img {
    width: 100%;
    height: 690px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 55% center;
       object-position: 55% center;
}

@media only screen and (min-width: 768px) {
    .bunner__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 0;
    }
}

.bunner__body {
    padding: 70px 0 70px 0;
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

@media only screen and (min-width: 768px) {
    .bunner__body {
        position: relative;
        background-image: none;
    }
}

.bunner__title {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .bunner__title {
        text-align: left;
        max-width: 600px;
    }
}

.bunner__descr {
    margin: 32px 0 0 0;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .bunner__descr {
        max-width: 390px;
        text-align: left;
    }
}

.bunner__button {
    margin: 32px 0 0 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .bunner__button {
        max-width: 310px;
        padding: 20px 20px 20px 20px;
    }
}

/* Block "video" */
.video {
    padding: 5px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .video {
        padding: 60px 0 60px 0;
    }
}

.video__content {
    width: 100%;
    height: 100%;
}

/* Block "examples" */
.examples {
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .examples {
        padding: 60px 0 60px 0;
    }
}

@media only screen and (min-width: 768px) {
    .examples__head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.examples__title {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .examples__title {
        text-align: left;
    }
}

.examples__slider-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 24px 0 0 0;
    border-radius: 999px;
}

@media only screen and (min-width: 768px) {
    .examples__slider-button-group {
        margin: 0 0 0 30px;
    }
}

.examples__slider-button {
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.examples__slider-button>svg {
    width: 24px;
    height: 24px;
}

.examples__slider {
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .examples__slider {
        margin: 50px 0 0 0;
    }
}

/* Block "Footer" */
.footer {
    padding: 40px 0 50px 0;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding: 65px 0 50px 0;
    }
}

.footer__inner {
    max-width: 1600px;
    margin: 0 auto 0 auto;
    padding: 40px 0 0 0;
    border-top: 1px solid rgba(56, 56, 56, 0.3);
}

.footer__logo {
    width: 130px;
    height: 38px;
    margin: 0 auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .footer__logo {
        width: 196px;
        height: 58px;
    }
}

.footer__menu {
    margin: 50px 0 0 0;
}

@media only screen and (min-width: 1280px) {
    .footer__menu {
        margin: 60px 0 0 0;
    }
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__bottom {
        margin: 40px 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__bottom {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.footer__copyrigth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.footer__copyrigth-text {
    font-size: 16px;
    line-height: 20px;
}

.footer__copyrigth-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 18px 0 0 0;
}

.footer__copyrigth-links>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth-links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0 0 0 30px;
    }

    .footer__copyrigth-links>*+* {
        margin: 0 0 0 22px;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__copyrigth-links {
        padding: 0 30px 0 30px;
    }
}

.footer__copyrigth-link {
    color: inherit;
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.footer__contact-and-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contact-and-social {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__contact-and-social {
        padding: 0 0 0 0;
    }
}

.footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__contact>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contact {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer__contact>*+* {
        margin: 0 0 0 22px;
    }
}

.footer__social {
    padding: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__social {
        padding: 0 0 0 40px;
    }
}

.panel {
    margin: 35px 0 35px 0;
    padding: 0 0 32px 0;
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

@media only screen and (min-width: 768px) {
    .panel {
        margin: 60px 0 0 0;
        padding: 0px 0 50px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .panel {
        background-image: none;
    }
}

@media only screen and (min-width: 1600px) {
    .panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 800px;
        padding: 0 80px 0 0;
    }

    .panel__inner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 78.75%;
        height: 100%;
        border-radius: 4px;
        background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
        background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
        z-index: -1;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__inner {
        margin: 0 auto 0 auto;
        padding: 0 130px 0 0;
        max-width: 1600px;
        width: 100%;
    }

    .panel__inner::before {
        width: 77.5625%;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner {
        padding: 0 24px 0 0;
    }

    .panel__inner::before {
        width: 71.77%;
    }
}

.panel__inner_row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.panel__inner_row-reverse::before {
    left: 0;
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse {
        padding: 0 0 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__inner_row-reverse {
        padding: 0 0 0 130px;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse>.panel__img-wrapper {
        margin: 0 0 0 140px;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner_row-reverse>.panel__img-wrapper {
        margin: 0 0 0 170px;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse>.panel__content {
        margin: 0 0 0 0;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner_row-reverse>.panel__content {
        margin: 0 0 0 0;
    }
}

.panel__img-wrapper {
    position: relative;
    padding: 0 0 440px 0;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .panel__img-wrapper {
        padding: 0 0 475px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__img-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 528px;
                flex: 0 0 528px;
        margin: 0 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__img-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 670px;
                flex: 0 0 670px;
        padding: 0 0 600px 0;
    }
}

.panel__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.panel__content {
    padding: 32px 15px 32px 15px;
    text-align: center;
}

.panel__content>*+* {
    margin: 28px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .panel__content {
        padding: 50px 15px 50px 15px;
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__content {
        padding: 100px 0 100px 0;
        margin: 0 0 0 140px;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__content {
        margin: 0 0 0 170px;
    }
}

.panel__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
}

@media only screen and (min-width: 768px) {
    .panel__footer {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__footer {
        position: absolute;
        bottom: 0;
        padding: 0 80px 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__footer {
        padding: 0 130px 0 130px;
    }
}