@use "../helper" as *;

/* Base Styles */
body {
  font-size: $fs-400;
  font-weight: $fw-400;
  font-family: $ff-primray;
  background: $clr-white;
  color: $clr-gray-700;

  &.--lock {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  padding: 70px 0 0 0;

  @include for-min-size("md") {
    padding: 79px 0 0 0;
  }

  @include for-min-size("lg") {
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-min-size("lg") {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include for-min-size("xl") {
    padding-left: 130px;
    padding-right: 130px;
  }
  @include for-min-size("xxl") {
    width: min(100%, 1860px);
  }

  &__flex {
    @include for-min-size("lg") {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__flex-25 {
    @include for-min-size("lg") {
      flex: 0 0 calc(20% - 16px);
    }
  }

  &__flex-50 {
    @include for-min-size("lg") {
      flex: 0 0 calc(60% - 32px);
      margin: 0 auto;
    }
  }

  &__flex-order-1 {
    @include for-min-size("lg") {
      order: 1;
    }
  }
}
