@use "../helper" as *;

/* Сonnecting fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "ui-icon-font";
  src: url("../fonts/ui-icon-font.ttf?rp5sgu") format("truetype"),
    url("../fonts/ui-icon-font.woff?rp5sgu") format("woff"), url("../fonts/ui-icon-font.woff2?rp5sgu") format("woff2"),
    url("../fonts/ui-icon-font.svg?rp5sgu#ui-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ui-icon-font" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-behance:before {
  content: "\e900";
}
.icon-social-instagram:before {
  content: "\e901";
}
.icon-social-twitter:before {
  content: "\e902";
}
.icon-social-vk:before {
  content: "\e903";
}
.icon-social-youtube:before {
  content: "\e904";
}
.icon-ui-arrow-down:before {
  content: "\e905";
}
.icon-ui-arrow-left:before {
  content: "\e906";
}
.icon-ui-arrow-left-bold:before {
  content: "\e907";
}
.icon-ui-arrow-right:before {
  content: "\e908";
}
.icon-ui-arrow-right-bold:before {
  content: "\e909";
}
.icon-ui-color-palette:before {
  content: "\e90a";
}
.icon-ui-pause:before {
  content: "\e90b";
}
.icon-ui-play:before {
  content: "\e90c";
}
.icon-ui-shopping-cart:before {
  content: "\e90d";
}
.icon-ui-user:before {
  content: "\e90e";
}
