@use "../helper" as *;

/* Typography styles" */
.text {
  font-size: 14px;
  line-height: 20px;

  @include for-min-size("md") {
    font-size: 18px;
    line-height: 24px;
  }

  &_clr-white {
    color: $clr-white;
  }
}

.title {
  font-size: 32px;
  line-height: 39px;

  @include for-min-size("md") {
    font-size: 52px;
    line-height: 63px;
  }

  @include for-min-size("lg") {
    font-size: 62px;
    line-height: 76px;
  }

  @include for-min-size("xl") {
    font-size: 70px;
    line-height: 85px;
  }

  &_clr-white {
    color: $clr-white;
  }
}
