{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",

  "overrides": [
    {
      "files": ["*.css", "*.sass", "*.scss", "*.less"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
