@charset "UTF-8";
/* Сonnecting fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
             -o-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Base Styles */
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
    background: #ffffff;
    color: #383838;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 1280px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        width: min(100%, 1860px);
    }
}

/* Typography styles" */
.title-big {
    font-size: 32px;
    line-height: 39px;
}

@media only screen and (min-width: 768px) {
    .title-big {
        font-size: 52px;
        line-height: 63px;
    }
}

@media only screen and (min-width: 1280px) {
    .title-big {
        font-size: 62px;
        line-height: 76px;
    }
}

.title-big_clr-white {
    color: #ffffff;
}

.title-small {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

@media only screen and (min-width: 768px) {
    .title-small {
        font-size: 24px;
        line-height: 29px;
    }
}

.text {
    font-size: 14px;
    line-height: 22px;
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 18px;
        line-height: 24px;
    }
}

.text_clr-white {
    color: #ffffff;
}

/* UI elements "Navs & Tabs" */
.footer-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .footer-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-menu {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    .footer-menu__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-menu__item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    .footer-menu__item-body {
        margin: 50px 0 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-menu__item-body {
        margin: 60px 0 0 0;
    }
}

@media only screen and (min-width: 768px) {
    .footer-menu__item-title {
        color: inherit;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
    }
}

@media only screen and (min-width: 768px) {
    .footer-menu__list {
        margin: 10px 0 0 0;
        list-style-type: none;
    }

    .footer-menu__list>*+* {
        margin: 10px 0 0 0;
    }
}

.footer-menu__list-link {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    opacity: 0.5;
}

.footer-menu__list-link:hover,
.footer-menu__list-link:focus-within {
    text-decoration: underline;
    opacity: 0.75;
}

/* UI elements "Covers" */
/* UI elements "Cards" */
.examples-card>*+* {
    margin: 16px 0 0 0;
}

.examples-card__thumbnail {
    width: 100%;
    height: 239px;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

@media only screen and (min-width: 768px) {
    .examples-card__thumbnail {
        height: 291px;
    }
}

@media only screen and (min-width: 1280px) {
    .examples-card__thumbnail {
        height: 447px;
    }
}

@media only screen and (min-width: 1600px) {
    .examples-card__thumbnail {
        height: 539px;
    }
}

@media only screen and (min-width: 1920px) {
    .examples-card__thumbnail {
        height: 543px;
    }
}

.examples-card__text {
    max-width: 660px;
}

.examples-card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #787d46;
    text-decoration: none;
}

.examples-card__link>*+* {
    margin: 0 0 0 10px;
}

.examples-card__link svg {
    width: 24px;
    height: 24px;
}

.examples-card__link svg path {
    stroke: #787d46;
}

.examples-card__link:hover,
.examples-card__link:focus-within {
    text-decoration: underline;
}

/* UI elements "links" */
.logo__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
}

.logo__img {
    width: 100%;
}

.link-phone,
.link-email {
    color: inherit;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.link-phone:hover,
.link-phone:focus-within,
.link-email:hover,
.link-email:focus-within {
    text-decoration: underline;
}

.social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-group>*+* {
    margin: 0 0 0 16px;
}

.social-group__link {
    text-decoration: none;
}

.social-group__link>svg {
    width: 24px;
    height: 24px;
}

.social-group__link>svg path {
    -webkit-transition: 0.25s ease 0s;
    -o-transition: 0.25s ease 0s;
    transition: 0.25s ease 0s;
}

.social-group__link:hover>svg path,
.social-group__link:focus-within>svg path {
    fill: #787d46;
}

/* UI elements "Forms" */
/* UI elements "Buttons" */
.button {
    position: relative;
    display: block;
    border: none;
    border-radius: 999px;
    padding: 1.25em 2em 1.25em 2em;
    background-color: #787d46;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/bg-button.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 90%;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.button span {
    position: relative;
}

.button:hover,
.button:focus-within {
    background-color: #676d23;
}

.button:hover::before,
.button:focus-within::before {
    right: 0;
}

@media only screen and (min-width: 768px) {
    .button {
        font-size: 16px;
        line-height: 20px;
    }
}

.button_fw-700 {
    font-weight: 700;
}

.button-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 999px;
}

.button-group__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    width: 44px;
    height: 44px;
    background-color: transparent;
    -webkit-transition: background-color 0.25s ease 0s;
    -o-transition: background-color 0.25s ease 0s;
    transition: background-color 0.25s ease 0s;
    cursor: pointer;
}

.button-group__button:hover,
.button-group__button:focus-within {
    background-color: #ebebeb;
}

.button-group__button_prev.swiper-button-disabled {
    opacity: 0.5;
}

.button-group__button_next.swiper-button-disabled {
    opacity: 0.5;
}

.button-group__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* UI elements "Dropduwn" */
/* UI elements "Carusels" */
/* Block "header" */
/* Block "hero" */
/* Block "decription" */
/* Block "panels" */
/* Block "benefits" */
/* Block "product" */
/* Block "application" */
/* Block "difference" */
.difference {
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .difference {
        padding: 60px 0 60px 0;
    }
}

.difference__title {
    text-align: center;
}

.difference__body {
    margin: 36px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .difference__player {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 50px 0 0 0;
    }
}

.difference__button-play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 64px;
    height: 64px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    border: 1px solid #787d46;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .difference__button-play {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        margin: 0 0 0 0;
    }
}

.difference__button-play>svg {
    height: 36px;
}

.difference__button-play>svg:nth-child(1) {
    width: 36px;
    -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
            transform: translateX(5px);
}

.difference__button-play>svg:nth-child(2) {
    width: 0;
}

.difference__button-play[data-state=play] svg:nth-child(1) {
    width: 0;
}

.difference__button-play[data-state=play] svg:nth-child(2) {
    width: 36px;
}

.difference__waves {
    position: relative;
    width: 100%;
    height: 110px;
    margin: 24px 0 0 0;
    pointer-events: none;
}

.difference__waves>* {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .difference__waves {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 557px;
                flex: 0 1 557px;
        margin: 0 0 0 32px;
    }
}

.difference__switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 28px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .difference__switch {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 50px 0 0 0;
    }
}

.difference__switch-label {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    pointer-events: none;
}

@media only screen and (min-width: 768px) {
    .difference__switch-label {
        font-size: 18px;
        line-height: 22px;
    }
}

.difference__switch-label[data-state=active] {
    color: #787d46;
}

.difference__switch-toggler {
    position: relative;
    width: 62px;
    height: 34px;
    margin: 12px 0 12px 0;
    padding: 6px 6px 6px 6px;
    border-radius: 999px;
    background-color: #383838;
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .difference__switch-toggler {
        width: 82px;
        height: 44px;
        margin: 0 24px 0 24px;
    }
}

.difference__switch-toggler>span {
    position: absolute;
    left: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

@media only screen and (min-width: 768px) {
    .difference__switch-toggler>span {
        width: 32px;
        height: 32px;
    }
}

.difference__switch-toggler[data-state=active] {
    background-color: #787d46;
}

.difference__switch-toggler[data-state=active]>span {
    left: calc(100% - 6px);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

/* Block "bunner" */
.bunner {
    margin: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .bunner {
        position: relative;
        height: 690px;
        margin: 60px 0 60px 0;
    }
}

.bunner__img-srcset {
    width: 100%;
}

.bunner__img {
    width: 100%;
    height: 690px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 55% center;
       object-position: 55% center;
}

@media only screen and (min-width: 768px) {
    .bunner__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

@media only screen and (min-width: 1280px) {
    .bunner__img {
        -o-object-position: center;
           object-position: center;
    }
}

.bunner__inner {
    padding: 70px 0 70px 0;
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

@media only screen and (min-width: 768px) {
    .bunner__inner {
        padding: 140px 0 70px 0;
        background-image: none;
    }
}

.bunner__body>*+* {
    margin: 32px 0 0 0;
}

.bunner__title {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .bunner__title {
        text-align: left;
        max-width: 670px;
    }
}

.bunner__descr {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .bunner__descr {
        max-width: 400px;
        text-align: left;
    }
}

.bunner__button {
    margin: 32px auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .bunner__button {
        margin: 32px 0 0 0;
    }
}

/* Block "video" */
.video {
    padding: 5px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .video {
        padding: 60px 0 60px 0;
    }
}

.video__content {
    width: 100%;
    height: 100%;
}

/* Block "examples" */
.examples {
    padding: 35px 0 35px 0;
}

@media only screen and (min-width: 768px) {
    .examples {
        padding: 60px 0 60px 0;
    }
}

.examples__inner>*+* {
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .examples__inner>*+* {
        margin: 50px 0 0 0;
    }
}

.examples__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.examples__head>*+* {
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .examples__head {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .examples__head>*+* {
        margin: 0 0 0 32px;
    }
}

.examples__title {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .examples__title {
        text-align: left;
    }
}

/* Block "footer" */
.footer {
    padding: 35px 0 50px 0;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding: 60px 0 50px 0;
    }
}

.footer__inner {
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(56, 56, 56, 0.3);
}

@media only screen and (min-width: 768px) {
    .footer__inner {
        padding: 42px 0 0 0;
    }
}

.footer__logo {
    height: 38px;
    width: 130px;
    margin: 0 auto 0 auto;
}

@media only screen and (min-width: 768px) {
    .footer__logo {
        height: 58px;
        width: 196px;
    }
}

@media only screen and (min-width: 768px) {
    .footer__bottom {
        margin: 48px 0 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer__bottom {
        margin: 60px 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.footer__copy {
    margin: 24px 0 0 0;
}

.footer__copy>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: 0 0 0 0;
    }

    .footer__copy>*+* {
        margin: 0 0 0 30px;
    }
}

.footer__copy-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer__copy-text {
        font-size: 16px;
        line-height: 20px;
    }
}

.footer__copy-link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__copy-link-group>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copy-link-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer__copy-link-group>*+* {
        margin: 0 0 0 18px;
    }
}

.footer__copy-link {
    color: inherit;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    opacity: 0.5;
}

.footer__copy-link:hover,
.footer__copy-link:focus-within {
    opacity: 0.75;
}

@media only screen and (min-width: 768px) {
    .footer__copy-link {
        font-size: 16px;
        line-height: 20px;
    }
}

.footer__contacts {
    margin: 32px 0 0 0;
}

.footer__contacts>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__contacts>*+* {
        margin: 0 0 0 50px;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__contacts {
        margin: 0 0 0 0;
    }
}

.footer__contacts-link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__contacts-link-group>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contacts-link-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .footer__contacts-link-group>*+* {
        margin: 0 0 0 24px;
    }
}

.panel {
    margin: 35px 0 35px 0;
    padding: 0 0 32px 0;
    background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
}

@media only screen and (min-width: 768px) {
    .panel {
        margin: 60px 0 0 0;
        padding: 0px 0 50px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .panel {
        background-image: none;
    }
}

@media only screen and (min-width: 1600px) {
    .panel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: 800px;
        padding: 0 80px 0 0;
    }

    .panel__inner::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 78.75%;
        height: 100%;
        border-radius: 4px;
        background-image: -o-linear-gradient(351.66deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
        background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
        z-index: -1;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__inner {
        margin: 0 auto 0 auto;
        padding: 0 130px 0 0;
        max-width: 1600px;
        width: 100%;
    }

    .panel__inner::before {
        width: 77.5625%;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner {
        padding: 0 24px 0 0;
    }

    .panel__inner::before {
        width: 71.77%;
    }
}

.panel__inner_row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.panel__inner_row-reverse::before {
    left: 0;
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse {
        padding: 0 0 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__inner_row-reverse {
        padding: 0 0 0 130px;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse>.panel__img-wrapper {
        margin: 0 0 0 140px;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner_row-reverse>.panel__img-wrapper {
        margin: 0 0 0 170px;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__inner_row-reverse>.panel__content {
        margin: 0 0 0 0;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__inner_row-reverse>.panel__content {
        margin: 0 0 0 0;
    }
}

.panel__img-wrapper {
    position: relative;
    padding: 0 0 440px 0;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .panel__img-wrapper {
        padding: 0 0 475px 0;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__img-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 528px;
                flex: 0 0 528px;
        margin: 0 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__img-wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 670px;
                flex: 0 0 670px;
        padding: 0 0 600px 0;
    }
}

.panel__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.panel__content {
    padding: 32px 15px 32px 15px;
    text-align: center;
}

.panel__content>*+* {
    margin: 28px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .panel__content {
        padding: 50px 15px 50px 15px;
        text-align: left;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__content {
        padding: 100px 0 100px 0;
        margin: 0 0 0 140px;
    }
}

@media only screen and (min-width: 1920px) {
    .panel__content {
        margin: 0 0 0 170px;
    }
}

.panel__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
}

@media only screen and (min-width: 768px) {
    .panel__footer {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

@media only screen and (min-width: 1280px) {
    .panel__footer {
        position: absolute;
        bottom: 0;
        padding: 0 80px 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .panel__footer {
        padding: 0 130px 0 130px;
    }
}