@charset "UTF-8";
/* Сonnecting fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "ui-icon-font";
    src: url("../fonts/ui-icon-font.ttf?rp5sgu") format("truetype"), url("../fonts/ui-icon-font.woff?rp5sgu") format("woff"), url("../fonts/ui-icon-font.woff2?rp5sgu") format("woff2"), url("../fonts/ui-icon-font.svg?rp5sgu#ui-icon-font") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "ui-icon-font" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-social-behance:before {
    content: "\e900";
}

.icon-social-instagram:before {
    content: "\e901";
}

.icon-social-twitter:before {
    content: "\e902";
}

.icon-social-vk:before {
    content: "\e903";
}

.icon-social-youtube:before {
    content: "\e904";
}

.icon-ui-arrow-down:before {
    content: "\e905";
}

.icon-ui-arrow-left:before {
    content: "\e906";
}

.icon-ui-arrow-left-bold:before {
    content: "\e907";
}

.icon-ui-arrow-right:before {
    content: "\e908";
}

.icon-ui-arrow-right-bold:before {
    content: "\e909";
}

.icon-ui-color-palette:before {
    content: "\e90a";
}

.icon-ui-pause:before {
    content: "\e90b";
}

.icon-ui-play:before {
    content: "\e90c";
}

.icon-ui-shopping-cart:before {
    content: "\e90d";
}

.icon-ui-user:before {
    content: "\e90e";
}

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
             -o-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Base Styles */
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Montserrat", "Segoe UI", Arial, sans-serif;
    background: #ffffff;
    color: #383838;
}

body.--lock {
    overflow: hidden;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 70px 0 0 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 1280px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .container {
        padding-left: 130px;
        padding-right: 130px;
    }
}

@media only screen and (min-width: 1920px) {
    .container {
        width: min(100%, 1860px);
    }
}

/* UI elements "Navs & Tabs" */
.header-menu__button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 24px;
    height: 16px;
    border: none;
    background-color: transparent;
}

.header-menu__button>span {
    height: 2px;
    border-radius: 999px;
    background-color: #383838;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-menu__button>span:nth-child(1) {
    width: 75%;
}

.header-menu__button>span:nth-child(2) {
    width: 100%;
}

.header-menu__button>span:nth-child(3) {
    width: 50%;
}

.header-menu__button.--active>span {
    position: absolute;
    top: 50%;
}

.header-menu__button.--active>span:nth-child(1) {
    width: 100%;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}

.header-menu__button.--active>span:nth-child(2) {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.header-menu__button.--active>span:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    .header-menu__button {
        width: 32px;
        height: 22px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-menu__button {
        display: none;
    }
}

.header-menu__body {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: calc(100vh - 100%);
    padding: 24px 15px 24px 15px;
    overflow: auto;
    background-color: #ffffff;
    z-index: -2;
    border-bottom: 1px solid rgba(56, 56, 56, 0.25);
}

@media only screen and (min-width: 1280px) {
    .header-menu__body {
        position: static;
        padding: 0 0 0 0;
        border-bottom: none;
        background-color: transparent;
        -webkit-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
        overflow: auto;
        z-index: 0;
    }
}

.header-menu__body-footer {
    margin: 24px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.header-menu__body-footer>*+* {
    margin: 16px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .header-menu__body-footer {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .header-menu__body-footer>*+* {
        margin: 0 0 0 24px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-menu__body-footer {
        display: none;
    }
}

.header-menu__list {
    list-style-type: none;
}

.header-menu__list>*+* {
    margin: 20px 0 0 0;
}

@media only screen and (min-width: 1280px) {
    .header-menu__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .header-menu__list>*+* {
        margin: 0 0 0 20px;
    }
}

@media only screen and (min-width: 1280px) {

    .header-menu__item:hover>.header-menu__submenu,
    .header-menu__item:focus-within>.header-menu__submenu {
        opacity: 1;
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        z-index: -2;
    }
}

.header-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #171717;
}

.header-menu__link-label {
    color: inherit;
    pointer-events: none;
}

.header-menu__link-icon {
    color: inherit;
    font-size: 24px;
    pointer-events: none;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-menu__link.--active>.header-menu__link-icon {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

@media only screen and (min-width: 1280px) {
    .header-menu__link-icon {
        display: none;
    }
}

.header-menu__submenu {
    height: 0;
    overflow: hidden;
}

@media only screen and (min-width: 1280px) {
    .header-menu__submenu {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        max-height: calc(100vh - 100%);
        padding: 50px 0 50px 0;
        border-bottom: 1px solid rgba(56, 56, 56, 0.25);
        background-color: #ffffff;
        opacity: 0;
        -webkit-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
        overflow: auto;
        z-index: -3;
    }
}

.header-menu__submenu-inner {
    height: 100%;
}

@media only screen and (min-width: 768px) {
    .header-menu__submenu-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1280px) {
    .header-menu__submenu-inner {
        padding: 0 80px 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .header-menu__submenu-inner {
        padding: 0 130px 0 130px;
    }
}

@media only screen and (min-width: 1920px) {
    .header-menu__submenu-inner {
        width: min(100%, 1860px);
    }
}

.header-menu__sublist {
    margin: 16px 0 0 0;
    list-style-type: none;
}

.header-menu__sublist>*+* {
    margin: 16px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .header-menu__sublist {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 33%;
                flex: 0 0 33%;
    }
}

@media only screen and (min-width: 1280px) {
    .header-menu__sublist {
        margin: 0 0 0 0;
    }
}

.header-menu__sublink {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: rgba(56, 56, 56, 0.5);
    -webkit-transition: color 0.25s ease 0s;
    -o-transition: color 0.25s ease 0s;
    transition: color 0.25s ease 0s;
}

@media only screen and (min-width: 768px) {
    .header-menu__sublink {
        font-size: 16px;
        line-height: 20px;
    }

    .header-menu__sublink:hover,
    .header-menu__sublink:focus-within {
        color: rgba(56, 56, 56, 0.75);
        text-decoration: underline;
    }
}

.header-menu__submenu-articles {
    margin: 16px 0 0 0;
}

.header-menu__submenu-articles>*+* {
    margin: 24px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .header-menu__submenu-articles {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 66%;
                flex: 0 0 66%;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 30px;
    }

    .header-menu__submenu-articles>*+* {
        margin: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .header-menu__submenu-articles {
        margin: 0 0 0 0;
    }
}

.footer-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media only screen and (min-width: 1280px) {
    .footer-menu__list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}

.footer-menu__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media only screen and (min-width: 1280px) {
    .footer-menu__list-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto;
    }
}

.footer-menu__list-item-body {
    padding: 50px 0 0 0;
}

@media only screen and (min-width: 1280px) {
    .footer-menu__list-item-body {
        padding: 60px 0 0 0;
    }
}

.footer-menu__lsit-title {
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: inherit;
}

.footer-menu__sublist {
    list-style-type: none;
    margin: 10px 0 0 0;
}

.footer-menu__sublist>*+* {
    margin: 10px 0 0 0;
}

.footer-menu__sublist-link {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease 0s;
    -o-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.footer-menu__sublist-link:hover,
.footer-menu__sublist-link:focus-within {
    opacity: 0.75;
    text-decoration: underline;
}

/* UI elements "Covers" */
/* UI elements "Cards" */
.article-preview__img-wrapepr {
    position: relative;
    width: 100%;
    padding: 0 0 144px 0;
    border-radius: 4px;
    overflow: hidden;
}

.article-preview__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.article-preview__body {
    margin: 12px 0 0 0;
}

.article-preview__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: inherit;
}

.article-preview__link-label {
    color: inherit;
}

.article-preview__link-icon {
    margin: 0 0 0 10px;
    font-size: 24px;
}

.article-preview__desr {
    margin: 12px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(56, 56, 56, 0.5);
}

/* UI elements "links" */
.site-logo__link {
    text-decoration: none;
}

.site-logo__img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.color-palette__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #787d46;
    text-decoration: none;
}

.header-menu__body-footer .color-palette__link {
    font-size: 14px;
    line-height: 17px;
}

.color-palette__link-icon {
    font-size: 24px;
    color: inherit;
}

.color-palette__link-label {
    display: none;
    margin: 0 0 0 8px;
    color: inherit;
}

@media only screen and (min-width: 1600px) {
    .color-palette__link-label {
        display: block;
    }
}

.header-menu__body-footer .color-palette__link-label {
    display: block;
}

.phone-link,
.email-link {
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {

    .phone-link,
    .email-link {
        font-size: 16px;
        line-height: 20px;
    }
}

.header-menu__body-footer .phone-link,
.header-menu__body-footer .email-link {
    font-size: 14px;
    line-height: 17px;
}

.accaunt-link {
    color: inherit;
    text-decoration: none;
}

.accaunt-link__icon {
    font-size: 24px;
    color: inherit;
}

.shopping-card-link {
    color: #787d46;
    text-decoration: none;
}

.shopping-card-link__icon {
    font-size: 24px;
    color: inherit;
}

.social-link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-link-group>*+* {
    margin: 0 0 0 16px;
}

.social-link-group__item {
    font-size: 24px;
    color: inherit;
    text-decoration: none;
}

/* UI elements "Forms" */
/* UI elements "Buttons" */
/* UI elements "Dropduwn" */
/* UI elements "Carusels" */
/* Block "header" */
.header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
    z-index: 1000;
}

@media only screen and (min-width: 1280px) {
    .header {
        padding: 0 80px 0 80px;
    }
}

@media only screen and (min-width: 1600px) {
    .header {
        padding: 0 130px 0 130px;
    }
}

@media only screen and (min-width: 1920px) {
    .header {
        width: min(100%, 1860px);
    }
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5);
}

.header__logo {
    width: 130px;
    height: 40px;
}

@media only screen and (min-width: 768px) {
    .header__logo {
        width: 160px;
        height: 48px;
    }
}

.header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 0 18px;
}

@media only screen and (min-width: 768px) {
    .header__menu {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        margin: 0 auto 0 28px;
    }
}

.header__color-palette {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header__color-palette {
        display: block;
    }
}

.header__contacts {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header__contacts {
        display: block;
        margin: 0 0 0 32px;
    }
}

.header__accaunt-end-shopping-card {
    margin: 0 0 0 auto;
}

.header__accaunt-end-shopping-card>*+* {
    margin: 0 0 0 18px;
}

@media only screen and (min-width: 768px) {
    .header__accaunt-end-shopping-card {
        margin: 0 0 0 32px;
    }
}

/* Block "page-head" */
/* Block "home-hero" */
/* Block "story-hero" */
/* Block "decription" */
/* Block "base-panels" */
/* Block "simple-panels" */
/* Block "benefits" */
/* Block "product" */
/* Block "application" */
/* Block "difference" */
/* Block "bunner" */
/* Block "video" */
/* Block "articles-slider" */
/* Block "story-feedback" */
/* Block "client-feedback" */
/* Block "footer" */
.footer {
    padding: 35px 0 0;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding: 60px 0 0;
    }
}

.footer__inner {
    padding: 20px 0 50px 0;
    border-top: 1px solid rgba(56, 56, 56, 0.5);
}

@media only screen and (min-width: 768px) {
    .footer__inner {
        padding: 40px 0 50px 0;
    }
}

.footer__logo {
    height: 38px;
    width: 130px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .footer__logo {
        height: 58px;
        width: 196px;
    }
}

.footer__menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .footer__menu {
        display: block;
    }
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 24px 0 0 0;
}

.footer__bottom>*+* {
    margin: 32px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__bottom {
        margin: 48px 0 0 0;
    }
}

@media only screen and (min-width: 1280px) {
    .footer__bottom {
        margin: 60px 0 0 0;
    }
}

@media only screen and (min-width: 1600px) {
    .footer__bottom {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer__bottom>*+* {
        margin: 0 0 0 0;
    }
}

.footer__copyrigth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__copyrigth>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__copyrigth>*+* {
        margin: 0 0 0 30px;
    }
}

.footer__copyrigth-text {
    font-size: 14px;
    line-height: 17px;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth-text {
        font-size: 16px;
        line-height: 20px;
    }
}

.footer__copyrigth-link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__copyrigth-link-group>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth-link-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__copyrigth-link-group>*+* {
        margin: 0 0 0 24px;
    }
}

.footer__copyrigth-link {
    font-size: 14px;
    line-height: 17px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: inherit;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s ease 0s;
    -o-transition: opacity 0.25s ease 0s;
    transition: opacity 0.25s ease 0s;
}

.footer__copyrigth-link:hover,
.footer__copyrigth-link:focus-within {
    opacity: 0.75;
}

@media only screen and (min-width: 768px) {
    .footer__copyrigth-link {
        font-size: 16px;
        line-height: 20px;
    }
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__contacts>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__contacts>*+* {
        margin: 0 0 0 50px;
    }
}

.footer__contacts-link-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__contacts-link-group>*+* {
    margin: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .footer__contacts-link-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer__contacts-link-group>*+* {
        margin: 0 0 0 24px;
    }
}