// Breakpoints Settings
$breakpoint-list: (
  "xl": 1280px,
  "lg": 992px,
  "md": 768px,
  "sm": 480px,
  "xs": 320px,
);

// Grid Settings
$container-max-width: 1280px;
$container-padding-inline: 20px;

// Colors Setting
$clr-priamry: hsl(49, 94%, 61%);

$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);

$clr-light-100: hsl(207, 18%, 31%);
$clr-light-400: hsl(209, 8%, 49%);
$clr-light-700: hsl(210, 8%, 76%);

// Fonts Settings
$ff-primray: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;

$fs-300: 14px;
$fs-400: 16px;
$fs-500: 20px;
$fs-600: 32px;

$fw-400: 400;
$fw-700: 700;

// Decoration Settings
