// Breakpoints Settings
$breakpoint-list: (
  "xl": 1600px,
  "lg": 1280px,
  "md": 768px,
  "sm": 480px,
  "xs": 320px,
);

// Colors Setting

$clr-black: #000000;
$clr-white: #ffffff;

$clr-gray-900: #171717;
$clr-gray-700: #383838;
$clr-gray-400: #626262;
$clr-gray-200: #cacaca;
$clr-gray-100: #ebebeb;

$clr-primary: #787d46;
$clr-primary-accent: #7a7f48;

$clr-secondary: #9e6f47;
$clr-secondary-accent: #a07c5c;

$clr-third: #f2c49d;
$clr-third-light: #ffd0a9;

// Fonts Settings
$ff-primray: "Montserrat", "Segoe UI", Arial, sans-serif;

$fs-300: 14px;
$fs-400: 16px;
$fs-500: 20px;
$fs-600: 32px;

$fw-400: 400;
$fw-700: 700;

// Decoration Settings
// Transition Settings
$transition-025-ease: 0.25s ease 0s;
