@use "../helper" as *;

/* UI elements "Buttons" */
.button-primary,
.button-secondary {
  position: relative;
  display: block;
  padding: 1.1875em 1.25em;
  border: none;
  border-radius: 999px;
  background-color: $clr-primary;
  overflow: hidden;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: $clr-white;
  transition: background-color 0.5s ease 0s;

  @include for-min-size("md") {
    font-size: 16px;
    line-height: 20px;
  }

  > span {
    position: relative;
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -15%;
    height: 100%;
    width: 15%;
    background-image: url("../images/bg/bg-decor-waves-button.svg");
    background-repeat: repeat-x;
    background-position: left;
    background-size: contain;
    transition: width 1s ease 0s;
  }

  @include for-hover-and-focus() {
    background-color: $clr-primary-accent;

    &::before {
      width: 115%;
    }
  }

  &[disabled] {
    filter: grayscale(0.75);
    opacity: 0.75;
    cursor: default;

    &::before {
      display: none;
    }
  }
}

.button-secondary {
  color: $clr-gray-900;
  background: #f0f0f0;

  &::before {
    filter: grayscale(0.75);
    opacity: 0.15;
  }

  @include for-hover-and-focus() {
    background-color: #f0f0f0;

    &::before {
      width: 115%;
    }
  }
}

.slider-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 2px solid $clr-primary;
  overflow: hidden;

  // .slider-button-group__button-prev
  // .slider-button-group__button-next
  &__button-prev,
  &__button-next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: $clr-primary;
    transition: all 0.25s ease 0s;
    cursor: pointer;

    @include for-hover-and-focus() {
      background-color: $clr-gray-100;
      color: $clr-primary-accent;
    }

    @include for-min-size("md") {
      width: 58px;
      height: 58px;
    }
  }

  // .slider-button-group__button-icon
  &__button-icon {
    font-size: 24px;
  }
}
