@use "../helper" as *;

/* UI elements "Buttons" */
.button-primary {
  position: relative;
  display: block;
  padding: 1.25em 1.75em;
  border: none;
  border-radius: 999px;
  background-color: $clr-primary;
  overflow: hidden;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: $clr-white;
  transition: background-color 0.5s ease 0s;

  @include for-min-size("md") {
    font-size: 16px;
    line-height: 20px;
  }

  > span {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    height: 100%;
    width: 100%;
    background-image: url("../images/bg/bg-button.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    transition: left 0.5s ease 0s;
  }

  @include for-hover-and-focus() {
    background-color: $clr-primary-accent;

    &::before {
      left: 0%;
    }
  }
}
