@use "../helper" as *;

/* UI elements "Buttons" */
.button {
  position: relative;
  display: block;
  border: none;
  border-radius: 999px;
  padding: 1.25em 2em 1.25em 2em;
  background-color: $clr-primary;
  text-align: center;
  transition: all 0.5s ease 0s;
  color: $clr-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/bg-button.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 90%;
    transition: inherit;
  }

  span {
    position: relative;
  }

  @include for-hover-and-focus() {
    background-color: #676d23;

    &::before {
      right: 0;
    }
  }

  @include for-min-size("md") {
    font-size: 16px;
    line-height: 20px;
  }

  &_fw-700 {
    font-weight: 700;
  }
}

.button-group {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 999px;

  // .button-group__button_prev
  // .button-group__button_next
  &__button_prev,
  &__button_next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 44px;
    height: 44px;
    background-color: transparent;
    transition: background-color $transition-025-ease;
    cursor: pointer;

    @include for-hover-and-focus() {
      background-color: $clr-gray-100;
    }
  }

  // .button-group__button_prev
  &__button_prev {
    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  // .button-group__button_next
  &__button_next {
    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  // .button-group__border
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
