@use "../helper" as *;

/* UI elements "Carusels" */
.color-slider {
  width: 100%;
  display: flex;
  align-items: center;

  // .color-slider__button
  &__button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
  }

  // .color-slider__button-prev
  &__button-prev {
    border-left-color: $clr-primary;
    border-bottom-color: $clr-primary;
    transform: rotate(45deg);

    > .color-slider__button-icon {
      transform: rotate(-45deg);
    }
  }

  // .color-slider__button-next
  &__button-next {
    border-right-color: $clr-primary;
    border-bottom-color: $clr-primary;
    transform: rotate(-45deg);

    > .color-slider__button-icon {
      transform: rotate(45deg);
    }
  }

  // .color-slider__button-icon
  &__button-icon {
    font-size: 24px;
    color: $clr-primary;
  }

  // .color-slider__body
  &__body {
    min-width: 0;
  }

  // .color-slider__wrapper
  &__wrapper {
  }

  // .color-slider__slide
  &__slide {
    width: 42px;
    display: flex;
    justify-content: center;

    @include for-min-size("md") {
      width: 48px;
    }
  }

  // .color-slider__slide-round
  &__slide-round {
    display: block;
    width: 26px;
    height: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: $clr-black;
    transition: border 0.25s ease 0s;
    cursor: pointer;

    @include for-min-size("md") {
      width: 32px;
      height: 32px;
    }

    @include for-hover-and-focus() {
      border: 2px solid rgba($color: $clr-white, $alpha: 1);
    }

    &[data-active-border="dark"] {
      @include for-hover-and-focus() {
        border: 2px solid rgba($color: $clr-black, $alpha: 0.5);
      }
    }

    &.--active {
      border: 2px solid $clr-white;

      &[data-active-border="dark"] {
        border-color: $clr-black;
      }
    }
  }
}

