@use "../helper" as *;

/* UI elements "Cards" */
.examples-card {
  > * + * {
    margin: 16px 0 0 0;
  }
  // .examples-card__thumbnail
  &__thumbnail {
    width: 100%;
    height: 239px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;

    @include for-min-size("md") {
      height: 291px;
    }

    @include for-min-size("lg") {
      height: 447px;
    }

    @include for-min-size("xl") {
      height: 539px;
    }

    @include for-min-size("xxl") {
      height: 543px;
    }
  }

  // .examples-card__title
  &__title {
  }

  // .examples-card__text
  &__text {
    max-width: 660px;
  }

  // .examples-card__link
  &__link {
    display: flex;
    align-items: center;
    color: $clr-primary;
    text-decoration: none;

    > * + * {
      margin: 0 0 0 10px;
    }

    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: $clr-primary;
      }
    }

    @include for-hover-and-focus() {
      text-decoration: underline;
    }
  }
}
