@use "../helper" as *;

/* UI elements "Dropduwn" */
.spoiler {
  // .spoiler__head
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  // .spoiler__title
  &__title {
    max-width: 200px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }
  // .spoiler__button
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    > svg {
      width: 32px;
      height: 32px;
    }
  }
  // .spoiler__divider
  &__divider {
    margin: 20px 0 0 0;
  }
  // .spoiler__body
  &__body {
    padding: 20px 0 0 0;
    overflow: hidden;
  }

  &[data-spoiler="open"] {
    .spoiler__title {
      color: $clr-primary;
    }
    .spoiler__button {
      transform: rotate(90deg);
      > svg > path {
        stroke: $clr-primary;
      }
    }
    .spoiler__body {
      height: auto;
    }
  }
  &[data-spoiler="close"] {
    .spoiler__body {
      height: 0px;
      padding: 0px;
    }
  }
}

