@use "../helper" as *;

/* UI elements "Dropduwn" */
.spoiler {
  // .spoiler__head
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    padding: 0 0 4px 0;
    border-bottom: 1px solid rgba($color: $clr-gray-900, $alpha: 0.5);
    cursor: pointer;
  }

  // .spoiler__head-title
  &__head-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: color 0.5s ease 0s;

    @include for-min-size("md") {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__head-text {
    font-size: 16px;
    line-height: 20px;
    transition: color 0.5s ease 0s;

    @include for-min-size("md") {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .spoiler__head-icon
  &__head-icon {
    margin: 0 0 0 16px;
    font-size: 32px;
    transition: all 0.5s ease 0s;
  }

  // .spoiler__body
  &__body {
    height: auto;
    overflow: hidden;
  }

  // .spoiler__text
  &__text {
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 22px;

    @include for-min-size("md") {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
