@use "../helper" as *;

/* UI elements "links" */
.site-logo {
  // .logo__link
  &__link {
    text-decoration: none;
  }

  // .logo__img
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.color-palette {
  // .color-palette__link
  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: $clr-primary;
    text-decoration: none;

    // .header-menu__body-footer .color-palette__link
    .header-menu__body-footer & {
      font-size: 14px;
      line-height: 17px;
    }
  }

  // .color-palette__link-icon
  &__link-icon {
    font-size: 24px;
    color: inherit;
  }

  // .color-palette__link-label
  &__link-label {
    display: none;
    margin: 0 0 0 8px;
    color: inherit;

    @include for-min-size("xl") {
      display: block;
    }

    // .header-menu__body-footer .color-palette__link-label
    .header-menu__body-footer & {
      display: block;
    }
  }
}

.phone-link,
.email-link {
  font-size: 14px;
  line-height: 17px;
  color: inherit;
  text-decoration: none;

  @include for-min-size("md") {
    font-size: 16px;
    line-height: 20px;
  }

  // .header-menu__body-footer .phone-link
  .header-menu__body-footer & {
    font-size: 14px;
    line-height: 17px;
  }
}

.accaunt-link {
  color: inherit;
  text-decoration: none;

  // .accaunt-link__icon
  &__icon {
    font-size: 24px;
    color: inherit;
  }
}

.shopping-card-link {
  color: $clr-primary;
  text-decoration: none;

  // .shopping-card-link__icon
  &__icon {
    font-size: 24px;
    color: inherit;
  }
}

.social-link-group {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin: 0 0 0 16px;
  }

  // .social-link-group__item
  &__item {
    font-size: 24px;
    color: inherit;
    text-decoration: none;
  }
}

