@use "../helper" as *;

/* UI elements "links" */
.logo {
  // .logo__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  // .logo__img
  &__img {
    width: 100%;
  }
}

.link-phone,
.link-email {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @include for-hover-and-focus() {
    text-decoration: underline;
  }
}

.social-group {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin: 0 0 0 16px;
  }

  // .social-group__link
  &__link {
    text-decoration: none;

    > svg {
      width: 24px;
      height: 24px;

      path {
        transition: $transition-025-ease;
      }
    }

    @include for-hover-and-focus() {
      > svg path {
        fill: $clr-primary;
      }
    }
  }
}

