@use "../helper" as *;

/* Block "acoustic-panel" */
.acoustic-panel {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .acoustic-panel__container
  &__container {
    @include for-min-size("lg") {
      max-width: 1600px;
    }
  }

  // .acoustic-panel__inner
  &__inner {
    margin: 0 -15px;
    padding: 0 0 70px 0;
    background: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);

    @include for-min-size("lg") {
      position: relative;
      margin: 0 -80px 0 -80px;
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 80px;
      background: none;

      .acoustic-panel_with-slider & {
        padding-top: 150px;
        padding-bottom: 60px;
      }

      .acoustic-panel_row-revers & {
        padding-left: 0;
        padding-right: 80px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 77%;
        height: 100%;
        border-radius: 4px;
        background: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
        z-index: -1;

        .acoustic-panel_row-revers & {
          left: auto;
          right: 0;
        }
      }
    }

    @include for-min-size("xl") {
      margin: 0 -130px 0 -130px;
      padding-left: 130px;

      .acoustic-panel_row-revers & {
        padding-left: 0;
        padding-right: 130px;
      }
    }
  }

  // .acoustic-panel__body
  &__body {
    @include for-min-size("lg") {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .acoustic-panel_row-revers & {
        flex-direction: row-reverse;
      }
    }
  }

  // .acoustic-panel__img-wrapper
  &__img-container {
    height: 420px;

    @include for-min-size("md") {
      height: 560px;
    }

    @include for-min-size("lg") {
      order: 1;
      flex: 0 0 624px;
      height: 560px;
      border-radius: 4px;
    }

    @include for-min-size("xl") {
      flex: 0 0 670px;
      height: 605px;
    }
  }

  // .acoustic-panel__img-wrapper
  &__img-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  // .acoustic-panel__img
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // .acoustic-panel__contnet
  &__contnet {
    padding: 70px 15px 0 15px;

    @include for-min-size("lg") {
      padding: 0 70px 0 0;

      .acoustic-panel_with-slider & {
        padding: 0 40px 0 0;
        width: auto;
      }

      .acoustic-panel_row-revers & {
        padding: 0 0 0 70px;
      }
    }

    @include for-min-size("xl") {
      padding: 0 130px 0 0;

      .acoustic-panel_with-slider & {
        padding: 0 50px 0 0;
      }

      .acoustic-panel_row-revers & {
        padding: 0 0 0 140px;
      }
    }

    @include for-min-size("xl") {
      padding: 0 170px 0 0;

      .acoustic-panel_row-revers & {
        padding: 0 0 0 170px;
      }
    }
  }

  // .acoustic-panel__title
  &__title {
    text-align: center;

    @include for-min-size("md") {
      text-align: left;
    }
  }

  // .acoustic-panel__descr
  &__descr {
    margin: 28px 0 0 0;
    text-align: center;

    @include for-min-size("md") {
      text-align: left;
    }
  }

  // .acoustic-panel__button
  &__button {
    width: 234px;
    margin: 28px auto 0 auto;

    @include for-min-size("md") {
      margin: 28px 0 0 0;
    }
  }

  // .acoustic-panel__footer
  &__footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 50px 0 0 0;
    padding: 0 15px 0 15px;

    @include for-min-size("md") {
      flex-direction: row;
    }

    @include for-min-size("lg") {
      left: 0;
      bottom: 60px;
      width: 100%;
      margin: 24px 0 0 0;
      padding: 0 0 0 0;
    }
  }

  // .acoustic-panel__goods-short
  &__goods-short {
    @include for-min-size("md") {
      flex: 1 0 auto;
    }
  }

  // .acoustic-panel__sldier
  &__sldier {
    margin: 24px 0 0 0;

    @include for-min-size("md") {
      margin: 0 0 0 auto;
    }

    @include for-min-size("lg") {
      flex: 0 1 624px;
    }

    @include for-min-size("xl") {
      flex: 0 1 670px;
    }
  }

  &__sldier-container {
    width: 254px;

    @include for-min-size("md") {
      width: 276px;
    }
  }

  &__button-group {
    display: flex;
    justify-content: center;
    margin: 32px 0 0 0;
    padding: 0 15px 0 15px;

    @include for-min-size("md") {
      justify-content: flex-start;
    }

    @include for-min-size("lg") {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      position: absolute;
      right: 0;
      bottom: 0;

      .acoustic-panel_row-revers & {
        left: 0;
        right: auto;
      }
    }
  }
}
