@use "../helper" as *;

/* Block "application" */
.application {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .application__inner
  &__inner {
    @include for-min-size("md") {
      position: relative;
    }
  }

  // .application__body
  &__body {
    @include for-min-size("md") {
      display: flex;
      margin: 0 -15px 0 0;
    }
  }

  // .application__title
  &__title {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 204px;
      height: 150px;
      transform: translate(-50%, -50%);
      background-image: url("../../images/bg/bg-application.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;
    }

    @include for-min-size("md") {
      margin: 90px 0 0 0;
      text-align: left;
    }
  }

  // .application__slider-wrapper
  &__slider-wrapper {
    margin: 36px 0 0 0;

    @include for-min-size("md") {
      position: relative;
      flex: 0 0 50%;
      height: 356px;
      margin: 0 0 0 22px;
    }
  }

  // .application__slider
  &__slider {
    @include for-min-size("md") {
      position: absolute;
      width: 492px;
    }
  }

  // .application__footer
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 0 0;

    > * + * {
      margin: 0 0 0 30px;
    }
  }

  // .application__button-group
  &__button-group {
    flex: 0 0 auto;
  }

  // .application__button
  &__button {
    flex: 0 1 226px;
  }
}

.application-slider {
  // .application-slider__wrapper
  &__wrapper {
  }

  // .application-slider__slide
  &__slide {
    @include for-min-size("md") {
      display: flex;
      align-items: center;
      height: 356px;
    }
  }

  // .application-slider__img-wrapper
  &__img-wrapper {
    position: relative;
    padding: 0 0 280px 0;
    border-radius: 4px;
    overflow: hidden;

    @include for-min-size("md") {
      width: 100%;
      padding: 0 0 265px 0;
      transition: padding 0.5s ease 0s;

      .swiper-slide-active & {
        padding: 0 0 356px 0;
      }
    }
  }

  // .application-slider__img
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
