@use "../helper" as *;

/* Block "benefits" */
.benefits {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .benefits__inner
  &__inner {
  }

  // .benefits__title
  &__title {
    text-align: center;
  }

  // .benefits__spoilers
  &__spoilers {
    display: grid;
    gap: 32px 32px;
    margin: 42px 0 0 0;

    @include for-min-size("md") {
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      gap: 48px 32px;
    }

    @include for-min-size("xl") {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
