@use "../helper" as *;

/* Block "bunner" */
.bunner {
  position: relative;
  margin: 35px 0 35px 0;
  background: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);

  @include for-min-size("md") {
    min-height: 690px;
  }

  // .bunner__background
  &__background {
    width: 100%;
    height: 690px;
    object-fit: cover;
    object-position: center;

    @include for-min-size("md") {
      position: absolute;
      height: 100%;
    }
  }

  // .bunner__inner
  &__inner {
    padding: 70px 0 70px 0;

    > * + * {
      margin: 32px 0 0 0;
    }

    @include for-min-size("md") {
      position: relative;
      padding: 140px 0 70px 0;
    }
  }

  // .bunner__title
  &__title {
    text-align: center;

    @include for-min-size("md") {
      max-width: 673px;
      text-align: left;
    }
  }

  // .bunner__text
  &__text {
    text-align: center;

    @include for-min-size("md") {
      max-width: 400px;
      text-align: left;
    }
  }

  // .bunner__button
  &__button {
    @include for-min-size("md") {
      max-width: 320px;
    }
  }
}
