@use "../helper" as *;

/* Block "examples" */
.examples {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .examples__inner
  &__inner {
    > * + * {
      margin: 24px 0 0 0;
    }
    @include for-min-size("md") {
      > * + * {
        margin: 50px 0 0 0;
      }
    }
  }

  // .examples__head
  &__head {
    display: flex;
    align-items: center;
    flex-direction: column;

    > * + * {
      margin: 24px 0 0 0;
    }

    @include for-min-size("md") {
      flex-direction: row;
      justify-content: space-between;

      > * + * {
        margin: 0 0 0 32px;
      }
    }
  }

  // .examples__title
  &__title {
    text-align: center;
    @include for-min-size("md") {
      text-align: left;
    }
  }

  // .examples__button-group
  &__button-group {
  }

  // .examples__slider
  &__slider {
  }

  // .examples__slider-wrapper
  &__slider-wrapper {
  }
}
