@use "../helper" as *;

/* Block "Footer" */
.footer {
  padding: 40px 0 50px 0;
  @include for-min-size("md") {
    padding: 65px 0 50px 0;
  }
  &__inner {
    padding: 40px 0 0 0;
    border-top: 1px solid rgba($color: $clr-gray-700, $alpha: 0.3);
  }
  &__logo {
    width: 130px;
    height: 38px;
    margin: 0 auto 0 auto;

    @include for-min-size("md") {
      width: 196px;
      height: 58px;
    }
  }
  &__menu {
    margin: 50px 0 0 0;
    @include for-min-size("lg") {
      margin: 60px 0 0 0;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 24px 0 0 0;

    @include for-min-size("md") {
      margin: 40px 0 0 0;
    }
    @include for-min-size("xl") {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__copyrigth {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include for-min-size("md") {
      flex-direction: row;
    }
  }
  &__copyrigth-text {
    font-size: 16px;
    line-height: 20px;
  }
  &__copyrigth-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 18px 0 0 0;
    > * + * {
      margin: 18px 0 0 0;
    }
    @include for-min-size("md") {
      flex-direction: row;
      padding: 0 0 0 30px;
      > * + * {
        margin: 0 0 0 22px;
      }
    }
    @include for-min-size("xl") {
      padding: 0 30px 0 30px;
    }
  }
  &__copyrigth-link {
    color: inherit;
    opacity: 0.5;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
  }
  &__contact-and-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 0 0 0;
    @include for-min-size("md") {
      flex-direction: row;
    }
    @include for-min-size("xl") {
      padding: 0 0 0 0;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    > * + * {
      margin: 18px 0 0 0;
    }
    @include for-min-size("md") {
      flex-direction: row;
      > * + * {
        margin: 0 0 0 22px;
      }
    }
  }
  &__social {
    padding: 18px 0 0 0;
    @include for-min-size("md") {
      padding: 0 0 0 40px;
    }
  }
}
