@use "../helper" as *;

/* Block "goods" */
.goods {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  &_padding-top-none {
    padding-top: 0;

    @include for-min-size("md") {
      padding-top: 0;
    }
  }

  // .goods__inner
  &__inner {
    @include for-min-size("lg") {
      display: flex;
      align-items: flex-start;
    }
  }

  // .goods__gallery
  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 15px;

    @include for-min-size("lg") {
      gap: 32px;
      flex: 0 0 66.66%;
      padding: 0 16px 0 0;
    }
  }

  // .goods__gallery-img-wrapper
  // .goods__gallery-video-wrapper
  &__gallery-img-wrapper,
  &__gallery-video-wrapper {
    position: relative;
    padding: 0 0 90% 0;
    border-radius: 4px;
    overflow: hidden;
  }

  &__gallery-video-wrapper {
    .plyr {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // .goods__gallery-img
  // .goods__gallery-video
  &__gallery-img,
  &__gallery-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // .goods__summary
  &__summary {
    margin: 24px 0 0 0;

    > * + * {
      margin: 24px 0 0 0;
    }

    @include for-min-size("md") {
      display: flex;
      flex-wrap: wrap;
      margin: 50px 0 0 0;

      > * + * {
        margin: 50px 0 0 0;
      }
    }

    @include for-min-size("lg") {
      flex: 0 0 33.33%;
      margin: 0 0 0 0;
      padding: 0 0 0 16px;

      > * + * {
        margin: 36px 0 0 0;
      }
    }
  }

  // .goods__summary-header
  &__summary-header {
    @include for-min-size("md") {
      flex: 0 0 100%;
      padding: 0 8px 0 0;
    }

    @include for-min-size("lg") {
      padding: 0 0 0 0;
    }
  }

  // .goods__not-available
  &__not-available {
    margin: 24px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    color: #ff0505;

    @include for-min-size("lg") {
      margin: 36px 0 0 0;
    }
  }

  // .goods__summary-color
  &__summary-color {
    @include for-min-size("md") {
      flex: 0 0 50%;
      padding: 0 0 0 8px;
    }

    @include for-min-size("lg") {
      flex: 0 0 100%;
      padding: 0 0 0 0;
    }
  }

  // .goods__summary-color-label
  &__summary-color-label {
    font-size: 16px;
    line-height: 20px;
    color: #171717;

    @include for-min-size("md") {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .goods__summary-color-slider
  &__summary-color-slider {
    margin: 12px 0 0 0;
    max-width: 290px;

    @include for-min-size("md") {
      max-width: 324px;
      margin: 25px 0 0 0;
    }

    @include for-min-size("lg") {
      margin: 16px 0 0 0;
    }

    @include for-min-size("xl") {
      max-width: 372px;
    }

    @include for-min-size("xxl") {
      max-width: 516px;
    }
  }

  // .goods__summary-size
  &__summary-size {
    @include for-min-size("md") {
      flex: 0 0 50%;
      padding: 0 8px 0 0;
    }

    @include for-min-size("lg") {
      flex: 0 0 100%;
      padding: 0 0 0 0;
    }
  }

  // .goods__summary-size-label
  &__summary-size-label {
    font-size: 16px;
    line-height: 20px;
    color: #171717;

    @include for-min-size("md") {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .goods__summary-size-select
  &__summary-size-select {
    position: relative;
    margin: 12px 0 0 0;

    @include for-min-size("md") {
      margin: 16px 0 0 0;
    }
  }

  // .goods__summary-size-select
  &__summary-size-select-body {
    padding: 0 64px 0 16px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #f0f0f0;
    font-size: 14px;
    line-height: 17px;
    color: #171717;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include for-min-size("md") {
      height: 58px;
      font-size: 16px;
      line-height: 20px;
      padding: 0 74px 0 16px;
    }

    &[disabled] {
      filter: grayscale(0.75);
      opacity: 0.75;
      cursor: default;

      &::before {
        display: none;
      }
    }
  }

  // goods__summary-size-select-icon
  &__summary-size-select-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2px;
    right: 2px;
    width: calc(48px - 4px);
    height: calc(100% - 4px);
    border-radius: 0 4px 4px 0;
    background-color: transparent;
    font-size: 32px;
    cursor: pointer;
    pointer-events: none;
    border-radius: 50%;

    @include for-min-size("md") {
      width: calc(58px - 4px);
    }
  }

  // .goods__summary-counter
  &__summary-counter {
    align-self: flex-end;

    @include for-min-size("md") {
      flex: 0 0 50%;
      padding: 0 8px 0 0;
    }

    @include for-min-size("lg") {
      flex: 0 0 100%;
      padding: 0 0 0 0;
    }

    @include for-min-size("xxl") {
      flex: 0 0 50%;
      padding: 0 8px 0 0;
    }
  }

  // .goods__summary-button-wrapper
  &__summary-button-wrapper {
    @include for-min-size("md") {
      flex: 0 0 50%;
      padding: 0 0 0 8px;
    }

    @include for-min-size("lg") {
      flex: 0 0 100%;
      padding: 0 0 0 0;
    }

    @include for-min-size("xxl") {
      flex: 0 0 49.25%;
      padding: 0 0 0 0;
    }
  }

  // .goods__summary-button
  &__summary-button {
    width: 234px;

    @include for-min-size("md") {
      width: 250px;
      margin: 0 0 0 auto;
    }

    @include for-min-size("lg") {
      margin: 0 0 0 0;
    }

    @include for-min-size("xxl") {
      margin: 0 0 0 auto;
    }
  }

  // .goods__summary-descr
  &__summary-descr {
  }

  // .goods__summary-spoilers
  &__summary-spoilers {
    display: grid;
    row-gap: 8px;

    @include for-min-size("md") {
      display: grid;
      column-gap: 15px;
      grid-template-columns: 1fr 1fr;
    }

    @include for-min-size("lg") {
      grid-template-columns: 1fr;
      margin: 16px 0 0 0;
    }
  }

  // .goods__summary-footer
  &__summary-footer {
    @include for-min-size("md") {
      flex: 0 0 50%;
      padding: 0 0 0 8px;
    }

    @include for-min-size("lg") {
      flex: 0 0 100%;
      padding: 0 0 0 0;
    }
  }

  // .goods__summary-download-3d
  &__summary-download-3d {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #7a7f48;
    text-decoration: none;

    @include for-hover-and-focus() {
      text-decoration: underline;
    }

    @include for-min-size("md") {
      margin: 0 0 0 0;
      font-size: 16px;
      line-height: 22px;
    }
  }

  // .goods__summary-delivery
  &__summary-delivery {
    margin: 24px 0 0 0;

    @include for-min-size("lg") {
      margin: 36px 0 0 0;
    }
  }

  // .goods__summary-delivery-label
  &__summary-delivery-label {
    font-size: 16px;
    line-height: 20px;

    @include for-min-size("md") {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .goods__summary-delivery-days
  &__summary-delivery-days {
    margin: 12px 0 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #7a7f48;

    @include for-min-size("md") {
      font-size: 32px;
      line-height: 39px;
      margin: 16px 0 0 0;
    }
  }
}
