@use "../helper" as *;

/* Block "header" */
.header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
  transform: translateX(-50%);
  background-color: $clr-white;
  z-index: 1000;

  @include for-min-size("lg") {
    padding: 0 80px 0 80px;
  }
  @include for-min-size("xl") {
    padding: 0 130px 0 130px;
  }
  @include for-min-size("xxl") {
    width: min(100%, 1860px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    z-index: -1;
  }

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba($color: $clr-gray-700, $alpha: 0.5);
  }

  // .header__logo
  &__logo {
    width: 130px;
    height: 40px;

    @include for-min-size("md") {
      width: 160px;
      height: 48px;
    }
  }

  // .header__menu
  &__menu {
    order: 1;
    margin: 0 0 0 18px;

    @include for-min-size("md") {
      order: 0;
      margin: 0 auto 0 28px;
    }
  }

  // .header__color-palette
  &__color-palette {
    display: none;

    @include for-min-size("md") {
      display: block;
    }
  }

  // .header__contacts
  &__contacts {
    display: none;

    @include for-min-size("md") {
      display: block;
      margin: 0 0 0 32px;
    }
  }

  // .header__contacts-link-group
  &__contacts-link-group {
  }

  // .header__accaunt-end-shopping-card
  &__accaunt-end-shopping-card {
    margin: 0 0 0 auto;

    > * + * {
      margin: 0 0 0 18px;
    }

    @include for-min-size("md") {
      margin: 0 0 0 32px;
    }
  }
}
