@use "../helper" as *;

/* Block "panels" */
.panel {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .panel__inner
  &__inner {
    margin: 0 -15px 0 -15px;
    padding: 0 0 70px 0;
    background-image: linear-gradient(98.34deg, #e1d9d2 3.08%, #e9e2dc 97.21%);
  }

  // .panel__img-wpapper
  &__img-wpapper {
    position: relative;
    padding: 0 0 420px 0;
    overflow: hidden;
  }

  // .panel__img
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // .panel__body
  &__body {
    padding: 70px 15px 0 15px;

    > * + * {
      margin: 28px 0 0 0;
    }
  }

  // .panel__body-title
  &__body-title {
    text-align: center;
  }

  // .panel__body-descr
  &__body-descr {
    text-align: center;
  }

  // .panel__body-button
  &__body-button {
  }

  // .panel__footer
  &__footer {
    margin: 50px 0 0 0;

    > * + * {
      margin: 24px 0 0 0;
    }
  }

  // .panel__footer-data
  &__footer-data {
    > * + * {
      margin: 6px 0 0 0;
    }
  }

  // .panel__footer-data-color-and-num
  &__footer-data-color-and-num {
    display: flex;
    align-items: center;

    > * + * {
      margin: 0 0 0 12px;
    }
  }

  // .panel__footer-data-color
  &__footer-data-color {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $clr-white;
  }

  // .panel__footer-data-num
  &__footer-data-num {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  // .panel__footer-data-name
  &__footer-data-name {
    font-size: 16px;
    line-height: 28px;
  }

  // .panel__footer-slider
  &__footer-slider {
  }
}

.color-slider {
  width: 100%;
  height: 42px;
  margin: 0 42px 0 42px;

  // .color-slider__button
  &__button {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: transparent;

    z-index: 10;
    cursor: pointer;

    // .color-slider__button_prev
    &_prev {
      left: -42px;
      border-left-color: $clr-gray-700;
      border-bottom-color: $clr-gray-700;
      transform: translateY(-50%) rotate(45deg);

      > .color-slider__button-icon {
        transform: rotate(-45deg);
      }
    }

    // .color-slider__button_next
    &_next {
      right: -42px;
      border-right-color: $clr-gray-700;
      border-bottom-color: $clr-gray-700;
      transform: translateY(-50%) rotate(-45deg);

      > .color-slider__button-icon {
        transform: rotate(45deg);
      }
    }
  }

  // .color-slider__button-icon
  &__button-icon {
    font-size: 24px;
  }

  // .color-slider__wrapper
  &__wrapper {
    flex-grow: 0;
    flex-shrink: 0;
  }

  // .color-slider__slide
  &__slide {
  }
}
