@use "../helper" as *;

/* Block "benefits" */
.product {
  position: relative;
  margin: 35px 0 0 0;
  padding: 35px 0 35px 0;
  // .product__inner
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
    height: 390px;
  }
  // .product__content
  &__content {
  }
  // .product__tab
  &__tab {
  }
  // .product__tab-img
  &__tab-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  // .product__slider
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0 0;
    padding: 16px 16px 16px 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $clr-white;
  }
  // .product__slider-button
  &__slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $clr-gray-100;
    border: none;
    border-radius: 50%;
    > svg {
      width: 12px;
      height: 12px;
    }
    // .product__slider-button_prev
    &_prev {
    }
    // .product__slider-button_next
    &_next {
    }
  }
  // .product__slider-wrapper
  &__slider-wrapper {
    padding: 0 8px 0 8px;
    display: flex;
  }
  // .product__slider-item
  &__slider-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $clr-gray-100;
    margin: 0 8px 0 8px;
    overflow: hidden;
  }
  // .product__slider-item-img
  &__slider-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
