@use "../helper" as *;

/* Block "product-slider" */
.product-slider {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .product-slider__inner
  &__inner {
  }

  // .product-slider__slider
  &__slider {
  }

  // .product-slider__slider-head
  &__slider-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * + * {
      margin: 24px 0 0 0;
    }

    @include for-min-size("md") {
      flex-direction: row;
      justify-content: space-between;

      > * + * {
        margin: 0 0 0 24px;
      }
    }
  }

  // .product-slider__slider-title
  &__slider-title {
    text-align: center;

    @include for-min-size("md") {
      text-align: left;
    }
  }

  // .product-slider__slider-button-group
  &__slider-button-group {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .product-slider__slider-wrapper
  &__slider-wrapper {
    margin: 24px 0 0 0;

    @include for-min-size("md") {
      margin: 50px 0 0 0;
    }
  }
}
