@use "../helper" as *;

/* Block "benefits" */
.product {
  position: relative;
  margin: 35px 0 0 0;
  padding: 35px 0 35px 0;
  @include for-min-size("md") {
    margin: 60px 0 60px 0;
    padding: 0 0 32px 0;
  }
  @include for-min-size("lg") {
    margin: 60px 0 60px 0;
    padding: 0 0 50px 0;
  }
  // .product__inner
  &__inner {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
    height: 390px;
    @include for-min-size("md") {
      height: 600px;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  // .product__content
  &__content {
    @include for-min-size("md") {
      flex: 1 1 50%;
      margin: 0 15px 0 0;
    }
    @include for-min-size("lg") {
      flex: 0 0 448px;
    }
  }
  // .product__tab
  &__tab {
  }
  // .product__tab-img
  &__tab-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    @include for-min-size("md") {
      height: 100%;
    }
  }
  // .product__slider
  &__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0 0;
    padding: 16px 16px 16px 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $clr-white;
    @include for-min-size("md") {
      flex: 1 1 50%;
      margin: 0 0 0 15px;
      padding: 16px 16px 17px 16px;
    }
    @include for-min-size("lg") {
      flex: 0 1 auto;
      padding: 18px 16px 18px 16px;
    }
  }
  // .product__slider-button
  &__slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $clr-gray-100;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    @include for-min-size("md") {
      width: 64px;
      height: 64px;
    }
    > svg {
      width: 12px;
      height: 12px;
      @include for-min-size("md") {
        width: 24px;
        height: 24px;
      }
    }
    // .product__slider-button_prev
    &_prev {
    }
    // .product__slider-button_next
    &_next {
    }
  }
  // .product__slider-wrapper
  &__slider-wrapper {
    padding: 0 8px 0 8px;
    display: flex;
  }
  // .product__slider-item
  &__slider-item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $clr-gray-100;
    margin: 0 8px 0 8px;
    overflow: hidden;
    @include for-min-size("md") {
      width: 64px;
      height: 64px;
    }
  }
  // .product__slider-item-img
  &__slider-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
