@use "../helper" as *;

/* UI elements "shopping-cart" */
.shopping-cart {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  // .shopping-cart__inner
  &__inner {
    @include for-min-size("xl") {
      display: flex;
      align-items: flex-start;
    }
  }

  // .shopping-cart__lsit
  &__lsit {
    > * + * {
      margin: 24px 0 0 0;
    }

    @include for-min-size("xl") {
      flex: 0 0 66.66%;
      padding: 0 16px 0 0;
    }
  }

  // .shopping-cart__total
  &__total {
    margin: 24px 0 0 0;
  }
}
