@use "../helper" as *;

/* Block "parallax" */
.parallax {
  margin: 35px 0 35px 0;
  height: 250px;

  @include for-min-size("md") {
    margin: 70px 0 70px 0;
    height: 450px;
  }

  @include for-min-size("lg") {
    height: 650px;
  }
}
