@use "../helper" as *;

/* Block "simple-background" */
.simple-background {
  margin: 35px 0 35px 0;
  background-image: url("../images/bg/bg-simple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 280px;

  @include for-min-size("md") {
    margin: 70px 0 70px 0;
    height: 480px;
  }

  @include for-min-size("lg") {
    height: 670px;
  }
}
