@use "../helper" as *;

/* Block "team-slider" */
.team-slider {
  padding: 35px 0 35px 0;

  @include for-min-size("md") {
    padding: 60px 0 60px 0;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 40px;
    padding: 0 0 30% 0;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-image: url("../images/bg/bg-team.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;

    @include for-min-size("md") {
      bottom: -50px;
    }
  }

  &_application {
  }

  // .team-slider__inner
  &__inner {
    margin: 0 15px 0 15px;

    @include for-min-size("md") {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include for-min-size("lg") {
      margin: 0 0 0 80px;
    }

    @include for-min-size("xl") {
      margin: 0 0 0 130px;
    }

    @include for-min-size("xxl") {
      margin: 0 0 0 8.333%;
    }
  }

  // .team-slider__content
  &__content {
    > * + * {
      margin: 24px 0 0 0;
    }

    @include for-min-size("md") {
      flex: 0 0 calc(50% - 16px);
      padding: 0 0 82px 0;
    }

    @include for-min-size("lg") {
      flex: 0 0 calc(40% - 16px);
    }
  }

  // .team-slider__title
  // .team-slider__text
  &__title,
  &__text {
    text-align: center;

    @include for-min-size("md") {
      text-align: left;
    }
  }

  // .team-slider__title
  &__title {
  }

  // .team-slider__body
  &__body {
    margin: 24px 0 0 0;

    @include for-min-size("md") {
      flex: 0 0 calc(50% - 16px);
      margin: 0 0 0 0;
    }

    @include for-min-size("lg") {
      flex: 0 0 calc(60% - 16px);
    }
  }

  // .team-slider__wrapper
  &__wrapper {
  }

  // .team-slider__slide
  &__slide {
  }

  // .team-slider__img-wrapper
  &__img-wrapper {
    position: relative;
    padding: 0 0 320px 0;
    border-radius: 4px;
    overflow: hidden;

    @include for-min-size("md") {
      padding: 0 0 400px 0;
    }

    @include for-min-size("lg") {
      transform: scale(0.75);
      transform-origin: right;
      opacity: 0.5;

      .swiper-slide-prev & {
        transform-origin: left;
        transition: all 0.4s ease 0s;
      }

      .swiper-slide-active & {
        transform: scale(1);
        opacity: 1;
        transition: all 0.4s ease 0s;
      }
    }
  }

  // .team-slider__img
  &__img {
    @include responsive-img;
  }

  // .team-slider__img-label
  &__img-label {
    position: absolute;
    left: 0;
    bottom: 24px;
    min-width: 200px;
    max-width: 90%;
    padding: 16px 18px;
    background: rgba(56, 56, 56, 0.3);
    backdrop-filter: blur(18.5px);
    border-radius: 0px 4px 4px 0px;
  }

  // .team-slider__img-title
  &__img-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }

  // .team-slider__img-text
  &__img-text {
    font-size: 14px;
    line-height: 22px;
    color: rgba($color: #ffffff, $alpha: 0.7);
  }

  // .team-slider__footer
  &__footer {
    margin: 24px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-min-size("md") {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  // .team-slider__controls
  &__controls {
  }

  // .team-slider__button-wrapper
  &__button-wrapper {
    flex: 1 1 auto;
    margin: 0 0 0 32px;

    @include for-min-size("md") {
      flex: 0 0 calc(50% - 16px);
      margin: 0 0 0 auto;
    }
  }

  // .team-slider__button
  &__button {
    width: 100%;

    @include for-min-size("md") {
      width: 230px;
    }
  }
}
